.course-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    min-height: 25vh;
    background-color: beige;
    margin: 2vh 2vw;
    border-radius: 20px;
    padding: 2vh 1vw;
}
.courses-content{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

h1{margin: 0;}